    .main-tb-container{
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.main-tb-container tr{
    border-collapse: collapse;
    text-align: justify;
}

.main-tb-container td{
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    padding: 10px;
}

.main-tb-container th{
    border-bottom: 2px solid black;
    padding: 10px;
}

table{
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.Search-and-total {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 25%;
}

.total-jenis-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #DEDEDE;
  border-radius: 50px;
  width: auto fit-content   ;
  
}

.total-jenis-container h2 {
  font-size: 12px;
  margin: 0;
}

.search-container {
  display: flex;
  flex: 1;
  padding: 12px 16px;
  justify-content: flex-end;
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 50px;
  gap: 5px;
}

.search-container input {
  border: none;
  width: 100%;
  background-color: #DEDEDE;
  outline: none;
  height: 50%;
  font-size: 16px;
}

.search-container svg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: white;
    border-radius: 15px;
    padding: 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-body form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-family: inherit;
}

.modal-footer button,.main-tb-container button{
    border: none;
    box-shadow: 0 0  1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
}